<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Reseptiarkisto</title>
    </head>
    
    <body>
        <h1>Reseptiarkisto</h1>
        <p>
            Tervetuloa reseptiarkistoon! "Reseptit"-otsakkeen alta löytyvät tällä 
            hetkellä arkistosta löytyvät ruoka- ja juomareseptit listattuna. Resepteistä
            käy ilmi tarvittavat raaka-aineet määrineen, raaka-aineiden lisäysjärjestys
            sekä erityisohjeet raaka-aineiden käytöstä. Arkistoon voi lisätä uusia reseptejä
            ja raaka-aineita etusivun alareunassa olevien linkkien kautta.
        </p>
        <h2>Reseptit</h2>
    </body>
    
</html>
