<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Reseptiarkisto</title>
    </head>
    
    <body>
        <h2>Reseptiarkisto</h2>
        <p>
            Tervetuloa reseptiarkistoon! "Reseptit"-otsakkeen alta löytyvät tällä 
            hetkellä arkistosta löytyvät ruoka- ja juomareseptit listattuna. Resepteistä
            käy ilmi tarvittavat raaka-aineet määrineen, raaka-aineiden lisäysjärjestys
            sekä erityisohjeet raaka-aineiden käytöstä. Arkistoon voi lisätä uusia reseptejä
            ja raaka-aineita etusivun alareunassa olevien linkkien kautta.
        </p>
        
        <h4>Reseptit</h4>
        
        <ul>
            <li th:each="resepti : ${reseptit}">
                <a th:href="@{~/reseptit/{id}(id=${resepti.id})}">
                    <span th:text="${resepti.nimi}">resepti</span>
                </a>
            </li>
        </ul>
        
        <h4>Reseptien ja raaka-aineiden lisäys:</h4>
        
        <ul>
            <li>
                <a href="reseptit/uusi/">Lisää uusi resepti</a>
            </li>
            <li>
                <a href="raaka-aineet/">Lisää, poista ja tarkastele raaka-aineita</a>
            </li>
        </ul>
        
    </body>
    
</html>
