<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Reseptiarkisto</title>
    </head>
    
    <body>
        <h2>Raaka-aineiden listaus</h2>
        
        <ul>
            <li th:each="raakaAine : ${raakaAineet}">
                <span th:text="${raakaAine.nimi}">resepti</span>
                <a th:href="@{~/raaka-aineet/{raakaAineId}/delete (raakaAineId=${raakaAine.id})}">(poista)</a>
            </li>
        </ul>
        
        <h4>Lisää uusi raaka-aine</h4>
        
        <form method="POST" action="">
            Raaka-aineen nimi:<br/>
            <input type="text" name="aine"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        <ul>
            <li>
                <a href="/">Palaa etusivulle</a>
            </li>
        </ul>
        
    </body>
    
</html>
