<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Reseptiarkisto</title>
    </head>
    
    <body>
        <h1>Raaka-aine listaus</h1>
        
        <ul>
            <li th:each="raakaAine : ${raakaAineet}">
                <a th:href="@{~/raaka-aineet/{id}(id=${RaakaAine.id})}">
                    <span th:text="${raakaAine.nimi}">resepti</span>
                </a>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="/">Palaa etusivulle</a>
            </li>
        </ul>
        
    </body>
    
</html>
